html,
body {
    overflow: hidden;
    margin: 0;
    color: #fc0;
}
canvas,
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
img {
    display: none;
}
div[onclick] {
    cursor: pointer;
}
b {
    font: italic bold 5rem fantasy;
}
i {
    display: block;
    font: italic small-caps bold 2rem cursive;
}
