html,
body {
    overflow: hidden;
    margin: 0;
}
canvas,
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    user-select: none;
    font: italic bold 10vmin Arial;
    color: #fc0;
}
[onclick] {
    cursor: pointer;
    padding: 1vmin;
}

img {
    display: none;
}
